<div class="text-center">
  <h2>About Us</h2>
  <img src="../img/pairs.jpeg" alt="pairs programming" />
  <p>
    We are just two guys who love to code. These blogs will be about our adventures in code and just random things we like.
  </p>
  <p>
    Stay tuned for the best blogs to hit the internet.
  </p>
</div>
