<div class="text-center">
  <h2>Contact Us</h2>

  <p>
    You can learn more about us by going to our github portfolio pages!
  </p>

  <p>
    <img class="img-circle img-responsive center-block" src="https://pyrrus.github.io/Portfolio/img/Adam_Gorbahn.jpg" alt="Adam" /><br />
    Adam: <a href="http://pyrrus.github.io/Portfolio">GitHub Portfolio</a>
  </p>

  <p>
    <img class="img-circle img-responsive center-block" src="http://mehequanna.github.io/portfolio/img/stephen.jpg" alt="Stephen" /><br />
    Stephen: <a href="http://mehequanna.github.io/portfolio">GitHub Portfolio</a>
  </p>
</div>
