<div class="row">
  {{#each model as |blog|}}
    <div class="col-md-10 text-center blogIndex">
      <h1>{{#link-to 'blog' blog.id}}{{blog.headline}}{{/link-to}}</h1>
      <h5>{{blog.author}}</h5>
    </div>
  {{else}}
    <div>something is wrong with the model</div>
  {{/each}}
</div>
